.csic-collapsible.csic-expanded > a.csic-arrow {
  transform: rotate(0deg) translate(-2px, 6px);
}

.csic-translation-status-wrapper > .string-status-icon {
  display: flex;
  flex-direction: row;
  position: sticky;
  margin-left: -5px;
  margin-bottom: -19px;
}

.csic-collapsible > a.csic-arrow {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  opacity: .5;
  background: var(--crowdin-body-color);
  mask-image: var(--csic-icon-arrow-drop-down);
  mask-repeat: no-repeat;
  mask-size: 24px 24px;
  transform: rotate(-90deg);
  transition: transform .2s ease;
  cursor: pointer;
}

.csic-source-text {
  font-style: italic;
}

.csic-search-query--container {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.csic-search-query--upper-label {
  text-align: center;
  padding-bottom: 10px;
  line-height: 1em;

  > .csic-secondary {
    color: var(--crowdin-text-muted);
    font-size: 80%;
  }

  > .csic-muted {
    color: var(--crowdin-text-muted);
  }
}

.csic-superscript {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
  color: var(--crowdin-body-color);
}

.csic-search-query--results-container {
  overflow-y: auto;
  max-height: calc(50vh - 16px);
  border: 1px dotted black;
  padding: 5px 10px;
  background-color: color-mix(in srgb, var(--crowdin-gray-005), transparent 95%);
}

hr.csic-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.csic-metadata {
  font-size: 12px;
  font-weight: 400;
  margin-left: var(--csic-status-margin-left);
}

.csic-metadata > .csic-metadata-key-icon {
  user-select: none;
}

.csic-metadata > * {
  color: var(--crowdin-text-muted);
}

video.csic-video {
  width: 100%;
}

:root {
  --csic-icon-arrow-drop-down: url("data:image/svg+xml, %3csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" fill=\"none\"%3e%3cpath d=\"M5 5 0 0H10L5 5Z\" fill=\"black\"/%3e%3c/svg%3e");
  --csic-status-margin-left: 19px;
  --csic-arrow-margin-left: 10px;
}
